@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit !important;
}

*:focus {
	border: none;
	outline: none;
	background-color: inherit;
}

.Calendar {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(to right, #55efc4, #81ecec, #c7ecee);
	background: -webkit-gradient(to right, #55efc4, #81ecec, #c7ecee);
	background: -o-linear-gradient(to right, #55efc4, #81ecec, #c7ecee);
	background: -moz-linear-gradient(to right, #55efc4, #81ecec, #c7ecee);
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
	align-items: center;
	padding-top: 2rem;
}

.Calendar-Contents {
	width: 80%;
	display: flex;
	display: -webkit-flex;
	flex-flow: column wrap;
	align-items: center;
}

.Calendar-Box {
	width: 100%;
	border: 2px solid black;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.Calendar-MonthWrapper {
	width: 50%;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.Calendar-MonthWrapper > div {
	font-size: 30px;
	padding-bottom: 5px;
	cursor: pointer;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.Calendar-Date {
	all: unset;
	border-bottom: 3px solid #0090d5;
	padding-bottom: 5px;
	font-size: 25px;
}

.Calendar-Box-DayNames {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-flow: 1;
	margin-top: 10px;
	border-bottom: 1px solid black;
	font-size: 25px;
	padding-bottom: 10px;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.Calendar-Box-Days {
	display: flex;
	display: -webkit-flex;
	flex-flow: 1;
	flex-wrap: wrap;
	align-items: center;
}

.Calendar-Box-Days-Today {
	background-color: #ea8685 !important;
}

.Calendar-Box-Days-NextPrev {
	background-color: #686de0 !important;
}

.Calendar-Box-Days > div {
	width: calc(100% / 7);
	height: 150px;
	max-height: 150px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	font-size: 30px;
	border: 1px solid black;
	padding-top: 10px;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.Calendar-Box-Days > div:hover {
	background-color: #be2edd !important;
	color: white;
}
